/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.menu-item
{
    border: 1px solid gray;
    width: 800px;
    text-align: center;
    background-color: sandybrown
}

.content
{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

form
{
    width: 200px;
    background-color: lightseagreen;
    flex-grow: 0;
    padding: 50px;
}

.menu-filter
{
    display: flex;
    flex-direction: column;
}